<div class="container">
    <div class="row">
        <div id="dotNetaccordian" class="panel-group col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#dotNet" data-toggle="collapse" data-parent="#dotNetaccordian"> .NET Framework 1.0/1.1</a>
                    </div>
                </div>
                <div id="dotNet" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-click="dotNetCtrl.SetDetailSection('ManagedCode')"> Managed Code</li>
                            <li ng-click="dotNetCtrl.SetDetailSection('VSversion')">	IDE - Visual Studio 2002, 2003  </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('DotNetversion1')">	.NET Framework - 1.0, 1.1 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#dotNet2" data-toggle="collapse" data-parent="#dotNetaccordian">.NETFramework 2.0</a>
                    </div>
                </div>
                <div id="dotNet2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>

                            <li ng-click="dotNetCtrl.SetDetailSection('genericDiv')">	Generics </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('iteratorDiv')">	Iterator </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('PartialClassDiv')">	Partial Class </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('NullableTypeDiv')">	Nullable types </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('StaticTypeDiv')">	Static Classes </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('AnonymousDiv')">	Anonymous methods </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('AsymmetricPropDiv')">	Asymmetric Property and Indexer Accessors </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#dotNet3" data-toggle="collapse" data-parent="#dotNetaccordian">.NETFramework 3.0</a>
                    </div>
                </div>
                <div id="dotNet3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>

                            <li ng-click="dotNetCtrl.SetDetailSection('implicittypeDiv')">	Implicit types (var) </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('partialMethodDiv')">	Partial Methods </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('AnonymousTypeDiv')">	Anonymous types </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('ObjectInitializerDiv')">	Object and collection initializers </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('AutoImplementPropertyDiv')">	Auto-Implemented properties </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('ExtensionMethodDiv')">	Extension methods </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('LinqDiv')">	LINQ </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('QueryExpressionDiv')">	Query expressions </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('LamdaExpDiv')">	Lambda expressions </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('ExpressionTreeDiv')">	Expression trees </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('VS2008DIV')">	IDE - Visual Studio 2008 </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('NETFramework35Div')">	.NET Framework - 3.5 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#dotNet35" data-toggle="collapse" data-parent="#dotNetaccordian">.NETFramework - 3.5</a>
                    </div>
                </div>
                <div id="dotNet35" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-click="dotNetCtrl.SetDetailSection('dynamicDiv')">	Dynamic binding </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('NamedArgsDiv')">	Named And Optional Parameters </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('GenericCoContraDiv')">	Generic Covariance and Contra-variance </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('ComInteropDiv')">	COM Interop </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('VS2010Div')">	IDE - Visual Studio 2010 </li>
                            <li ng-click="dotNetCtrl.SetDetailSection('NetFramework40Div')">	.NET Framework - 4.0 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#dotNet4" data-toggle="collapse" data-parent="#dotNetaccordian">.NET Framework - 4.0</a>
                    </div>
                </div>
                <div id="dotNet4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>	Asynchronous methods </li>
                            <li>	Caller info attributes </li>
                            <li>	IDE - Visual Studio 2012, 2013 </li>
                            <li>	.NET Framework - 4.5, 4.5.1 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#dotNet45" data-toggle="collapse" data-parent="#dotNetaccordian">.NET Framework - 4.5</a>
                    </div>
                </div>
                <div id="dotNet45" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>	Compiler-as-a-service (Roslyn) </li>
                            <li>	Import of static type members into namespace </li>
                            <li>	Exception filters </li>
                            <li>	Await in catch/finally blocks </li>
                            <li>	Auto property initializers </li>
                            <li>	Default values for getter-only properties </li>
                            <li>	Expression-bodied members </li>
                            <li>	Null propagator (null-conditional operator, succinct null checking) </li>
                            <li>	String Interpolation </li>
                            <li>	nameof operator </li>
                            <li>	Dictionary initializer </li>
                        </ul>
                    </div>
                </div>
            </div>  
        </div>
        <div class="col-md-8 col-lg-8">
            <div id="contentdiv" ng-bind-html="dotNetCtrl.DivSection">

            </div>
        </div>
    </div>
</div>