<div class="container">
    <div class="row">
        <div id="csharpaccordian" class="panel-group col-md-4 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#csharp1" data-toggle="collapse" data-parent="#csharpaccordian">C# 1.0</a>
                    </div>
                </div>
                <div id="csharp1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-click="csharpCtrl.SetDetailSection('ManagedCode')"> Managed Code</li>
                            <li ng-click="csharpCtrl.SetDetailSection('VSversion')">	IDE - Visual Studio 2002, 2003  </li>
                            <li ng-click="csharpCtrl.SetDetailSection('DotNetversion1')">	.NET Framework - 1.0, 1.1 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#csharp2" data-toggle="collapse" data-parent="#csharpaccordian">C# 2.0</a>
                    </div>
                </div>
                <div id="csharp2" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>

                            <li ng-click="csharpCtrl.SetDetailSection('genericDiv')">	Generics </li>
                            <li ng-click="csharpCtrl.SetDetailSection('iteratorDiv')">	Iterator </li>
                            <li ng-click="csharpCtrl.SetDetailSection('PartialClassDiv')">	Partial Class </li>
                            <li ng-click="csharpCtrl.SetDetailSection('NullableTypeDiv')">	Nullable types </li>
                            <li ng-click="csharpCtrl.SetDetailSection('StaticTypeDiv')">	Static Classes </li>
                            <li ng-click="csharpCtrl.SetDetailSection('AnonymousDiv')">	Anonymous methods </li>
                            <li ng-click="csharpCtrl.SetDetailSection('AsymmetricPropDiv')">	Asymmetric Property and Indexer Accessors </li>
                            <li>	Delegate Inference </li>
                            <li ng-click="csharpCtrl.SetDetailSection('VarianceDiv')">	Covariance and Contra-variance</li>
                            <li ng-click="csharpCtrl.SetDetailSection('VS2005Div')">	IDE - Visual Studio 2005 </li>
                            <li ng-click="csharpCtrl.SetDetailSection('NETFramework2')">	.NET Framework - 2.0 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#csharp3" data-toggle="collapse" data-parent="#csharpaccordian">C# 3.0</a>
                    </div>
                </div>
                <div id="csharp3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>

                            <li ng-click="csharpCtrl.SetDetailSection('implicittypeDiv')">	Implicit types (var) </li>
                            <li ng-click="csharpCtrl.SetDetailSection('partialMethodDiv')">	Partial Methods </li>
                            <li ng-click="csharpCtrl.SetDetailSection('AnonymousTypeDiv')">	Anonymous types </li>
                            <li ng-click="csharpCtrl.SetDetailSection('ObjectInitializerDiv')">	Object and collection initializers </li>
                            <li ng-click="csharpCtrl.SetDetailSection('AutoImplementPropertyDiv')">	Auto-Implemented properties </li>
                            <li ng-click="csharpCtrl.SetDetailSection('ExtensionMethodDiv')">	Extension methods </li>
                            <li ng-click="csharpCtrl.SetDetailSection('LinqDiv')">	LINQ </li>
                            <li ng-click="csharpCtrl.SetDetailSection('QueryExpressionDiv')">	Query expressions </li>
                            <li ng-click="csharpCtrl.SetDetailSection('LamdaExpDiv')">	Lambda expressions </li>
                            <li ng-click="csharpCtrl.SetDetailSection('ExpressionTreeDiv')">	Expression trees </li>
                            <li ng-click="csharpCtrl.SetDetailSection('VS2008DIV')">	IDE - Visual Studio 2008 </li>
                            <li ng-click="csharpCtrl.SetDetailSection('NETFramework35Div')">	.NET Framework - 3.5 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#csharp4" data-toggle="collapse" data-parent="#csharpaccordian">C# 4.0</a>
                    </div>
                </div>
                <div id="csharp4" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li ng-click="csharpCtrl.SetDetailSection('dynamicDiv')">	Dynamic binding </li>
                            <li ng-click="csharpCtrl.SetDetailSection('NamedArgsDiv')">	Named And Optional Parameters </li>
                            <li ng-click="csharpCtrl.SetDetailSection('GenericCoContraDiv')">	Generic Covariance and Contra-variance </li>
                            <li ng-click="csharpCtrl.SetDetailSection('ComInteropDiv')">	COM Interop </li>
                            <li ng-click="csharpCtrl.SetDetailSection('VS2010Div')">	IDE - Visual Studio 2010 </li>
                            <li ng-click="csharpCtrl.SetDetailSection('NetFramework40Div')">	.NET Framework - 4.0 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#csharp5" data-toggle="collapse" data-parent="#csharpaccordian">C# 5.0</a>
                    </div>
                </div>
                <div id="csharp5" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>	Asynchronous methods </li>
                            <li>	Caller info attributes </li>
                            <li>	IDE - Visual Studio 2012, 2013 </li>
                            <li>	.NET Framework - 4.5, 4.5.1 </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="panel-title">
                        <a href="#csharp6" data-toggle="collapse" data-parent="#csharpaccordian">C# 6.0</a>
                    </div>
                </div>
                <div id="csharp6" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>	Compiler-as-a-service (Roslyn) </li>
                            <li>	Import of static type members into namespace </li>
                            <li>	Exception filters </li>
                            <li>	Await in catch/finally blocks </li>
                            <li>	Auto property initializers </li>
                            <li>	Default values for getter-only properties </li>
                            <li>	Expression-bodied members </li>
                            <li>	Null propagator (null-conditional operator, succinct null checking) </li>
                            <li>	String Interpolation </li>
                            <li>	nameof operator </li>
                            <li>	Dictionary initializer </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div id="contentdiv" ng-bind-html="csharpCtrl.DivSection">

            </div>
        </div>
    </div>
</div>